:root {
    --bg2: #5c87fe; /* main */
    --fg1: #678ffe;
    --bg1: #0247fe; /* header, nav */
    --fg2: #012998;
    --hlt: #070f26; /* footer, header (if nav is bg2) */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-size: 10pt; */

    --header-fg: orange;
    --header-bg: gray;
    --header-shadow: black;

    --nav-fg: white;
    --nav-bg: #0247fe;
    --nav-shadow: black;

    --nav-hover-fg: white;
    --nav-hover-bg: #070f26;
    --nav-hover-shadow: gray;

    --nav2-fg: white; /*#678ffe;*/
    --nav2-bg: #070f26;
    --nav2-shadow: black;

    --nav2-hover-fg: white;
    --nav2-hover-bg: #0247fe;
    --nav2-hover-shadow: black;

    --footer-fg: #678ffe;
    --footer-bg: #070f26;
    --footer-shadow: transparent;
}

* {
    box-sizing: border-box;
}

body, header, div {
/*    
   margin: 0;
   padding: 0;
   text-indent: 0;
   */
}

:hover {
    /* outline: 1px dotted red; */
}

body {
    margin: 0;
    padding: 0;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.hidden {
    display: none;
    visibility: hidden;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.error-message {
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 0.8em;
    text-align: center;
}

.old-input-ex.vertical {
    display: inline-flex;
    flex-direction: column;
}

.old-input-ex.reversed {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: baseline;
}

.old-input-ex.vertical.reversed {
    flex-direction: column-reverse;
}

.old-input-ex.reversed > label {
    margin-left: 0.5em;
}

.old-input-ex label {
    user-select: none;
}

.old-input-ex.full-width {
    display: block;
}

.old-input-ex.full-width.vertical, .old-input-ex.full-width.reversed {
    display: flex;
}

.bordered {
    border: 1px solid;
}

table.bordered, .table.bordered {
    /* width: 100%; */
    border-collapse: collapse;
}

table.bordered > thead.bg-lightgray > tr > th, .table.bordered > .thead.bg-lightgray > .tr > .th {
    background-color: lightgray;
}

table.bordered > tr > *, table.bordered > * > tr > *, .table.bordered > .tr > *, .table.bordered > * > .tr > * {
    border: 1px solid;
}

.table {
    display: table;
}

.thead {
    display: table-header-group;
}

.tbody {
    display: table-row-group;
}

.tfoot {
    display: table-footer-group;
}

.tr {
    display: table-row;
}

.th {
    display: table-cell;
    font-weight: bold;
}

.td {
    display: table-cell;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}