.status-pane {
    font-size: 0.8em;
    font-style: italic;
}

.status-pane.error {
    color: red;
}

.status-pane.warning {
    color: yellow;
}

.status-pane.success {
    color: green;
}

.status-pane.wait {
    color: gray;
}

.status-pane.information {
    color: blue;
}

.dialog-ex.scrim {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #0008;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.dialog-ex > .dialog {
    border: 2px outset;
    background-color: lightgray;
    min-height: 20%;
    min-width: 30%;
    max-height: 95%;
    max-width: 85%;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0.2em 0.2em;
    overflow-x: hidden;
    overflow-y: auto;

    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 100%;
    grid-template-rows: 2em auto auto;
}

.dialog-ex > .dialog > .close-btn {
    position: relative;
    padding: 0;
    /* margin:-1em -1em 0 0; */
    margin: -1em 0 0 -1em;
    border-radius: 50%;
    /* float: right; */
    font-size: inherit;
    width: 2em;
    height: 2em;

    grid-column-start: none;
    grid-column-end: none;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    border: 2px none;
}

.dialog-ex > .dialog > .close-btn:hover {
    color: red;
}

.dialog-ex > .dialog > .close-btn:active {
    background-color: inherit;
    border: 2px inset;
}

.dialog-ex > .dialog > .close-btn > .material-icons-round {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-weight: bold;
}

.dialog-ex > .dialog > .dialog-caption {
    font-size: 1em;
    font-weight: bold;
    margin:-1em -1em 1em;
    padding: 0.5em 1em 0.5em 1em;
    background-color: darkblue;
    color: white;
    border-radius: 1em 1em 0 0;
    grid-column: span 1;
    grid-row: 1 / span 1;
    text-align: center;
}

.dialog-ex > .dialog > .dialog-content {
    margin-bottom: 1em;
    /* overflow: auto;
    max-height: 100%;
    max-width: 100%;
    max-height: 30em;
    max-width: 40em; */
}

.dialog-ex > .dialog > .dialog-content > .status-pane {
    display: block;
    text-align: center;
    margin-top: 1em;
}

.dialog-ex > .dialog > .dialog-buttons {
    grid-column: span 1;
    grid-row: 3 / span 1;

    display: flex;
    justify-content: center;
    /* align-items: end; */
    align-items: center;
    gap: 0.25em;
}

.dialog-ex > .dialog > .dialog-buttons > .button-ex > button {
    font-size: inherit;
    /* padding: 0.5em; */
}

.dialog-ex > .dialog > .close-btn {
    color: white;
}

.dialog-ex > .dialog > .close-btn:hover {
    color: red;
}

.dialog-ex > .dialog > .close-btn:active {
    color: black;
}

.message-box.dialog-ex > .dialog > .dialog-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.textbox-ex.vertical, .datefield-ex.vertical {
    display: inline-flex;
    flex-direction: column;
}

.textbox-ex.blank > input[type="text"],
.textbox-ex.blank > input[type="email"],
.textbox-ex.blank > input[type="date"] {
    border: 1px solid;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    /* background-color: inherit; */
}

.textbox-ex.blank > input[type="text"]:focus,
.textbox-ex.blank > input[type="email"]:focus,
.textbox-ex.blank > input[type="date"]:focus {
    border: 1px solid;
    /* background-color: unset; */
}