body, .app > main {
    background-color: beige;
}

.app > main {
    padding: 2em;
    margin-bottom: 1em;
}

.app#sergs > main button,
.app#sergs > main select,
.app#sergs > main input {
    font-family: inherit;
    font-size: inherit;
    border-width: 1px;
    border-radius: 0.25em;
    padding: 0.25em;
}

.app#sergs > main button {
    padding: 0.25em 0.5em;
}

.div-ex.dashboard-contents {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    justify-content: center;
}

.div-ex.dashboard-contents > * {
    border-radius: 1em;
    background-color: darkgray;
    width: calc((100% - 1.5em) / 2);
    padding: 1em;
    line-height: 1.5;
}

.div-ex.dashboard-contents > [class*="dashboard-recent-for-"] {
    width: 100%;
}

.div-ex.dashboard-contents a.dashboard-refresh-link > span[class^="material-"] {
    font-size: inherit;
    margin: 0;
    padding: 0;
    width: unset;
    height: unset;
}

.div-ex.dashboard-contents > * > h4 {
    margin: 0 0 1em;
}

.data-form-ex.sr-table-wrapper {
    margin: 0 0;
    padding: 0.1em;
    background-color: white;
    border: 0.15em inset;
    overflow: auto;
}

.table-ex.sr-table {
    border-collapse: collapse;
    border: 1px solid black;
    overflow: auto;
    width: 100%;
    /* max-width: 100%; */
}

.table-ex.sr-table tr > * {
    border: 1px solid black;
}

.table-ex.sr-table > thead > tr:first-child {
    text-transform: uppercase;
}

.table-ex.sr-table > thead > tr:last-child > :first-child,
.table-ex.sr-table > thead > tr:last-child > :first-child + *,
.table-ex.sr-table > tbody > tr > td:first-child,
.table-ex.sr-table > tbody > tr > td:first-child + td {
    width: 10%;
}

.table-ex.sr-table > thead > tr:first-child + tr > :first-child + *,
.table-ex.sr-table > tbody > tr > td:first-child + td + td {
    width: 15%;
}

.table-ex.sr-table > tbody > tr > * {
    text-align: center;
    padding: 0.25em;
    height: 1.5em;
}

.table-ex.sr-table > tbody > tr > * > input[type=date] {
    text-align: inherit;
}

.table-ex.sr-table > tbody > tr > td:first-child + td + td + td {}

.table-ex.sr-table > tbody > tr > td:first-child + td + td + td + td {}

.table-ex.sr-table > thead > tr:first-child > :first-child + * + *,
.table-ex.sr-table > tbody > tr > td:first-child + td + td + td + td + td {
    width: 15%;
}

.table-ex.sr-table > thead > tr:first-child > :first-child + * + * + * + *,
.table-ex.sr-table > tbody > tr > td:first-child + td + td + td + td + td + td,
.table-ex.sr-table > tbody > tr > td:first-child + td + td + td + td + td + td + td {
    width: 5%;
}

.table-ex.sr-table > thead > tr:first-child > :first-child + * + * + * + * + *,
.table-ex.sr-table > tbody > tr > td:first-child + td + td + td + td + td + td + td + td {
    width: 12%;
}

#main-new-request .data-form-ex {
    display: flex;
    margin: 2em;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

#main-new-request #radio-select-sr-owner {
    text-align: center;
}

#main-new-request .sr-employee-id {
    display: block;
    text-align: center;
}

#main-new-request .sr-employee-id > #sr-employee-id {
    font-size: inherit;
}

#main-new-request #sr-type {
    display: block;
}

#main-new-request #sr-type > .checkbox-ex {
    display: block;
}

#main-new-request .data-form-ex .data-form-buttons {
    display: block;
    text-align: center;
}

#main-request-list .request-list-filters {
    display: block;
    font-size: 0.75em;
    line-height: 2;
}

#main-request-list .request-list-filters > .caption {
    display: block;
}

#main-request-list .request-list-filters > * {
    white-space: nowrap;
}

#main-request-list .div-ex.request-list-table-wrapper {
    margin: 1em 0;
    padding: 0.1em;
    background-color: white;
    border: 0.15em inset;
    overflow: auto;
}

#main-request-list .table-ex.request-list-table {
    border-collapse: separate;
    border-spacing: 0;
    overflow: auto;
    width: 100%;
}

#main-request-list .table-ex.request-list-table tr > * {
    border: 1px solid black;
}

#main-request-list .table-ex.request-list-table > thead > tr > * {
    background-color: lightgray;
    border: 2px outset;
    font-size: 0.75em;
    text-transform: uppercase;
    font-weight: normal;
    user-select: none;
}

#main-request-list .table-ex.request-list-table > thead > tr > :active {
    border: 2px inset;
}

#main-request-list .table-ex.request-list-table > * > tr > * {
    padding: 0.25em;
}

.add-employee-dialog .dialog-content > .data-form-ex {
    /* display: grid; */
    /* grid-template-columns: 5em 5em 5em 5em 5em 5em; */
    gap: 1em;
    /* line-height: 2; */
}

.add-employee-dialog .dialog-content > .data-form-ex > * {
    /* grid-column: span 2; */
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.add-employee-dialog .dialog-content > .data-form-ex > * + * {
    margin-top: 0.25em;
}

.add-employee-dialog .dialog-content > .data-form-ex > .checkbox-ex {
    display: block;
    margin-top: 0.1em;
    text-align: right;
}

.add-employee-dialog .dialog-content > .data-form-ex > .name,
.add-employee-dialog .dialog-content > .data-form-ex > .birth-date,
.add-employee-dialog .dialog-content > .data-form-ex > .email {
    margin-top: 1em;
}

.add-employee-dialog .dialog-content > .data-form-ex > .name + .name {
    margin-top: 0.25em;
}

.add-employee-dialog .dialog-content > .data-form-ex > .employee-id,
.add-employee-dialog .dialog-content > .data-form-ex > .temp-emp-id,
.add-employee-dialog .dialog-content > .data-form-ex > .position,
.add-employee-dialog .dialog-content > .data-form-ex > .workplace,
.add-employee-dialog .dialog-content > .data-form-ex > .email,
.add-employee-dialog .dialog-content > .data-form-ex > .create-account {
    /* grid-column: span 3; */
}

.add-employee-dialog .dialog-content > .data-form-ex > .employee-id,
.add-employee-dialog .dialog-content > .data-form-ex > .position,
.add-employee-dialog .dialog-content > .data-form-ex > .workplace {
    /* display: flex; */
    /* justify-content: space-between; */
}


.add-employee-dialog .dialog-content > .data-form-ex > .birth-date {
    /* grid-column: 2 / span 2; */
}

.add-employee-dialog .dialog-content .vertical > * {
    /* text-align: center; */
}

.add-employee-dialog .dialog-content .checkbox-ex > label {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.add-employee-dialog .dialog-content .checkbox-ex > * {
    vertical-align: baseline;
}

.sr-control-buttons {
    margin: 1em 0 0.5em;
    text-align: right;
    font-size: 0.8em;
}

.sr-table-wrapper + .sr-control-buttons {
    margin: 0.5em 0 1em;
}

.sr-control-buttons > .button-ex > button {
    color: white;
}

.sr-control-buttons > .button-ex > button:disabled {
    background-color: initial;
    color: gray;
}

.sr-control-buttons > .sr-add-record > button {
    background-color: blue;
}

.sr-control-buttons > .sr-delete-record > button {
    background-color: red;
}

.sr-control-buttons > .sr-add-record > button > .material-icons-round,
.sr-control-buttons > .sr-delete-record > button > .material-icons-round {
    font-weight: bold;
}

.sr-control-buttons > .sr-save-update > button {
    background-color: green;
}

.sr-control-buttons > .sr-revert-cancel > button {
    background-color: goldenrod;
    color: initial;
}

.sr-control-buttons > .sr-print > button {
    background-color: blue;
    color: white;
}

.sr-table td.error-missing-date-range,
.sr-table td.error-missing-from-date,
.sr-table td.error-invalid-date-range,
.sr-table td.error-missing-designation,
.sr-table td.error-missing-status {
    background-color: var(--error-bg);
    color: var(--error-fg);
}

.sr-table td.warning-overlapping-date-ranges,
.sr-table td.warning-missing-salary,
.sr-table td.warning-missing-station {
    background-color: var(--warning-bg);
    color: var(--warning-fg);
}

.sr-table tbody > tr.selected {
    outline: 0.25em solid forestgreen;
}

.sr-encoding .status-pane#sr-status {
    display: block;
    margin: 1em 0 0;
    text-align: center;
}

.sr-encoding .status-pane#sr-status > span {
    display: block;
    padding: 0.5em;
}

.sr-encoding .status-pane#sr-status > span > span.material-icons-round {
    margin: 0;
    padding: 0;
    font-size: 2em;
    vertical-align: middle;
    cursor: default;
    text-shadow: 0.02em 0.02em black;
}

.sr-encoding .status-pane#sr-status > span.warning > span.material-icons-round {
    color: orange;
}

.delete-service-record-entry-dialog .dialog-content > .div-ex > .div-ex {
    margin: 0 2em;
}
