:root {
    --page-margin-top: 2.2in;
    --page-margin-bottom: 1in;
    /* --page-margin-bottom: 3in; */
    --font-size-service: 1em;
    --font-size-appointment: 1em;
    --font-size-office: 1em;
    --font-size-branch: 1em;
    --font-size-lwop-count: 1em;
    --font-size-separation-date: 1em;
    --font-size-inclusive-date: 1em;
    --font-size-designation: 1em;
    --font-size-status: 1em;
    --font-size-salary: 1em;
    --font-size-station: 1em;
    --font-size-date-start: 1em;
    --font-size-date-end: 1em;

    --font-family-print-default: Calibri, sans-serif;
    --font-size-print-default: 11pt;

    --font-size-page-header: 10pt;
    --font-family-page-header: inherit;
    --width-page-header-deped-logo: 2cm;
    --font-size-page-header-rp: 12pt;
    --font-family-page-header-rp: "Old English Text MT", "Bookman Old Style", "URW Bookman", Times, serif;
    --font-size-page-header-deped: 18pt;
    --font-family-page-header-deped: "Old English Text MT", "Bookman Old Style", Times, serif;
    --font-size-page-header-region: 11pt;
    --font-family-page-header-region: "Times New Roman", Times, serif;
    --font-size-page-header-sdo: 10.5pt;
    --font-family-page-header-sdo: Tahoma, Geneva, Verdana, Calibri, sans-serif;

    --font-family-sr-form-title: inherit;
    --font-size-sr-form-title: 12pt;

    --font-family-sr-form-emp-info: inherit;
    --font-size-sr-form-emp-info: 10pt;

    --font-family-sr-form-emp-info-label: inherit;
    --font-size-sr-form-emp-info-label: inherit;
    --line-height-sr-form-emp-info-label: 12pt;
    
    --font-family-sr-form-emp-info-sublabel: inherit;
    --font-size-sr-form-emp-info-sublabel: 6pt;
    --line-height-sr-form-emp-info-sublabel: inherit;
    
    --font-family-sr-form-emp-info-blank: inherit;
    --font-size-sr-form-emp-info-blank: 11pt;
    --line-height-sr-form-emp-info-blank: 12pt;

    --font-family-sr-form-emp-info-comment: inherit;
    --font-size-sr-form-emp-info-comment: 8pt;
    --line-height-sr-form-emp-info-comment: 12pt;

    --font-family-sr-table-prenote: inherit;
    --font-size-sr-table-prenote: 8pt;
    --line-height-sr-table-prenote: inherit;
    --text-align-sr-table-prenote: center;

    --font-family-sr-table-postnote: var(--font-family-sr-table-prenote);
    --font-size-sr-table-postnote: var(--font-size-sr-table-prenote);
    --line-height-sr-table-postnote: var(--line-height-sr-table-prenote);
    --text-align-sr-table-postnote: var(--text-align-sr-table-prenote);

    --font-family-sr-table: inherit;
    --font-size-sr-table: 10pt;
    --text-align-sr-table: center;
    --valign-sr-table: middle;

    --font-family-sr-table-th: var(--font-family-sr-table);
    --font-size-sr-table-th: 11pt;
    --text-align-sr-table-th: var(--text-align-sr-table);
    --valign-sr-table-th: var(--valign-sr-table);

    --font-family-sr-table-th-small: var(--font-family-sr-table-th);
    --font-size-sr-table-th-small: 9pt;
    --text-align-sr-table-th-small: var(--text-align-sr-table-th);
    --valign-sr-table-th-small: var(--valign-sr-table-th);

    --font-family-sr-signatory: inherit;
    --font-size-sr-signatory: 11pt;

    --height-sr-table-td: 24pt;

    --font-family-timestamp: inherit;
    --font-size-timestamp: 8pt;
    --font-style-timestamp: italic;
}

@media only print {
    body {
        background-color: unset !important;
    }

    .print {
        padding: 0 !important;
    }

    .print #sr-print > header#sr-header {
        position: fixed;
        top: 0.15in;
        left: 0.25in;
        right: 0.25in;
        margin: 0 !important;
    }

    #sr-print::before {
        display: block;
        content: " ";
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -10;
        background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url("/test/images/logo-depedstotomas.webp");
        background-size: 6in;
        background-repeat: no-repeat;
        background-position: center 3.61in;
    }
    
    #sr-print {
        max-width: initial;
        background-color: none;
        margin: 0 !important;
        padding: 0.15in 0.4in !important;
        box-shadow: unset !important;
    }

    .print #sr-print > table.pager {
        margin-top: 1.5in;
    }

    .print #sr-print > table.pager > thead > tr > * {
        height: var(--page-margin-top);
    }
    
    .print #sr-print > table.pager > tfoot > tr > * {
        height: var(--page-margin-bottom);
    }
    
    .print footer#sr-footer {
        position: fixed;
        bottom: 0.15in;
        left: 0.25in;
        right: 0.25in;
        margin: 0 !important;
    }
}

@media only screen {
    .print footer > .content {
        font-size: 0.8em !important;
    }

    #sr-print {
        background-color: white;
    }
}

body {
    background-color: gray;
}

.print {
    padding: 1em;
}

.print main {
    background-color: unset;
}

#sr-print {
    font-size: var(--font-size-print-default);
    font-family: var(--font-family-print-default);
    max-width: 8.5in;
    margin: 0 auto;
    /* padding: 0.5in; */
    padding: 0.15in 0.5in;
    box-shadow: 3pt 3pt 5pt black;
}

.print #sr-print > header {
    text-align: center;
    margin: 0 -0.25in;
}

.print #sr-print > header > h1 {
    margin: 0;
    font-size: var(--font-size-page-header);
    border-bottom: 2pt solid;
}

.print #sr-print > header > h1::after {
    display: block;
    content: " ";
    /* border-bottom: 1pt solid; */
    /* margin-bottom: 1pt; */
}

.print #sr-print > header > h1 > img.deped-logo {
    width: var(--width-page-header-deped-logo);
}

.print #sr-print > header > h1 > span {
    display: block;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    line-height: 1.25em;
}

.print #sr-print > header > h1 > span.header-rp,
.print #sr-print > header > h1 > span.header-deped {
    text-transform: none;
}

.print #sr-print > header > h1 > span.header-rp {
    font-family: var(--font-family-page-header-rp);
    font-size: var(--font-size-page-header-rp);
}

.print #sr-print > header > h1 > span.header-deped {
    font-family: var(--font-family-page-header-deped);
    font-size: var(--font-size-page-header-deped);
}

.print #sr-print > header > h1 > span.header-region {
    font-family: var(--font-family-page-header-region);
    font-size: var(--font-size-page-header-region);
}

.print #sr-print > header > h1 > span.header-sdo {
    font-family: var(--font-family-page-header-sdo);
    font-size: var(--font-size-page-header-sdo);
    font-weight: 900;
}


.print #sr-print > header > h2 {
    margin: 1em 0 1em;
    text-transform: uppercase;
    font-family: var(--font-family-sr-form-title);
    font-size: var(--font-size-sr-form-title);
}

.print #sr-print > table.pager {
    width: 100%;
}

.print #sr-print .emp-info {
    font-family: var(--font-family-sr-form-emp-info);
    font-size: var(--font-size-sr-form-emp-info);
    padding: 0 2em;
}

.print #sr-print .emp-info > .div-ex {
    display: grid;
    margin-top: 0.75em;
}

.print #sr-print .emp-info > .name {
    grid-template-columns: 0.75in auto auto auto 2.5in;
}

.print #sr-print .emp-info > .birth {
    grid-template-columns: 0.75in 2in auto 2.5in;
}

.print #sr-print .emp-info > .employeeId {
    grid-template-columns: 0.75in 2in;
}

.print #sr-print .emp-info > .div-ex > .span-ex {
    text-align: center;
}

.print #sr-print .emp-info > .div-ex > .label-ex {
    font-family: var(--font-family-sr-form-emp-info-label);
    font-size: var(--font-size-sr-form-emp-info-label);
    line-height: var(--line-height-sr-form-emp-info-label);
    text-align: left;
}

.print #sr-print .emp-info > .div-ex > .span-ex > .blank,
.print #sr-print .emp-info > .employeeId > .blank {
    display: block;
    white-space: nowrap;
    border-bottom: 1px solid;
    font-family: var(--font-family-sr-form-emp-info-blank);
    font-size: var(--font-size-sr-form-emp-info-blank);
    line-height: var(--line-height-sr-form-emp-info-blank);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.print #sr-print .emp-info > .div-ex > .span-ex > .label-ex {
    display: block;
    font-family: var(--font-family-sr-form-emp-info-sublabel);
    font-size: var(--font-size-sr-form-emp-info-sublabel);
    line-height: var(--line-height-sr-form-emp-info-sublabel);
    text-transform: uppercase;
}

.print #sr-print .emp-info > .div-ex > .span-ex[class$=-comment] {
    display: flex;
    padding: 0.25em;
    font-family: var(--font-family-sr-form-emp-info-comment);
    font-size: var(--font-size-sr-form-emp-info-comment);
    line-height: var(--line-height-sr-form-emp-info-comment);
    text-align: left;
    align-items: center;
}

.sr-table-wrapper {
    margin: 0;
    padding: 0;
    background-color: inherit;
    border: unset;
}

.emp-info + .sr-table-wrapper {
    margin: 1.5em 0;
}

.prenote {
    margin: 0 2em;
    padding: 0 0.25em;
    text-align: var(--text-align-sr-table-prenote);
    font-family: var(--font-family-sr-table-prenote);
    font-size: var(--font-size-sr-table-prenote);
    line-height: var(--line-height-sr-table-prenote);
}

.sr-table-wrapper > .postnote {
    margin: 0;
    padding: 0 0.25em;
    text-align: var(--text-align-sr-table-postnote);
    font-family: var(--font-family-sr-table-postnote);
    font-size: var(--font-size-sr-table-postnote);
    line-height: var(--line-height-sr-table-postnote);
    break-inside: avoid-page;
    break-after: avoid-page;
}

.sr-table {
    font-family: var(--font-family-sr-table);
    font-size: var(--font-size-sr-table);
    text-align: var(--text-align-sr-table);
    vertical-align: var(--valign-sr-table);
    break-after: avoid-page;
}

.sr-table > thead > tr > * {
    font-family: var(--font-family-sr-table-th);
    font-size: var(--font-size-sr-table-th);
    text-align: var(--text-align-sr-table-th);
    vertical-align: var(--valign-sr-table-th);
}

.sr-table > thead > tr:first-child > *:nth-child(4),
.sr-table > thead > tr:first-child > *:nth-child(5) {
    font-family: var(--font-family-sr-table-th-small);
    font-size: var(--font-size-sr-table-th-small);
    text-align: var(--text-align-sr-table-th-small);
    vertical-align: var(--valign-sr-table-th-small);
}

.table-ex.sr-table > tbody > tr > * {
    height: var(--height-sr-table-td);
}

.sr-signatories {
    padding: 12pt 0 12pt 24pt;
    font-family: var(--font-family-sr-signatory);
    font-size: var(--font-size-sr-signatory);
    break-inside: avoid-page;
    break-after: avoid-page;
}

.sr-signatories > * {
    display: flex;
    flex-direction: column;
    clear: both;
    text-align: center;
    justify-content: center;
    min-width: 2in;
}

.sr-signatories > .certifier {
    float: right;
    margin-right: 0.5in;
}

.sr-signatories > .approver {
    float: left;
    margin-left: 0.5in;
}

.sr-signatories > ::before {
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    margin-left: -24pt;
}

.sr-signatories > .certifier::before {
    content: "Certified Correct:";
}

.sr-signatories > .approver::before {
    content: "Noted:";
}

.sr-signatories > * > * {
    display: block;
    text-transform: uppercase;
    padding: 0 3pt;
}

.sr-signatories > * > .name {
    height: 0.5in;
    display: flex;
    align-items: end;
    justify-content: center;
    font-weight: bold;
}

.sr-signatories > * > .position {
    border-top: 1pt solid;
    text-transform: initial;
}

.sr-timestamp {
    font-family: var(--font-family-timestamp);
    font-size: var(--font-size-timestamp);
    font-style: var(--font-style-timestamp);
    text-align: right;
    clear: both;
    break-inside: avoid-page;
    break-after: avoid-page;
}

.print footer {
    margin: 0 -0.25in;
}

.print footer > .content::before {
    display: block;
    content: "";
    grid-column: 1 / span 4;
    border-top: 2pt solid;
    padding-top: 1pt;
    height: 1pt;
    /* border-bottom: 1pt solid; */
    /* margin-bottom: 0.5em; */
}

.print footer > .content {
    padding: 0.5em 0.5em 0;
    display: grid;
    grid-template: auto auto auto auto auto / 4cm 2cm auto 1.5cm;
    font-size: 10pt;
    align-items: center;
    clear: both;
}

.print footer > .content > img.matatag-bagongpilipinas-logo {
    height: 2cm;
    grid-row-end: span 5;
}

.print footer > .content > img.sdo-logo {
    height: 1.6cm;
    grid-row-end: span 5;
    /* padding-left: 6pt; */
}

.print footer > .content > p {
    grid-column: 3;
    margin: 0;
    padding: 0;
}

.print footer > .content > p > a {
    color: inherit;
    text-decoration: none;
}

.print footer > .content > p > a:hover {
    color: blue;
    text-decoration: underline;
}

.print footer > .content > table.doc-info {
    grid-column: 3;
    width: 16em;
    border: 1px solid;
    border-collapse: collapse;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.print footer > .content > table.doc-info tr>* {
    border: 1px solid;
    padding: 0 0.75em;
    font-size: 0.6em;
}

table.doc-info tr>:nth-child(1) {
    width: 31.5%;
}

table.doc-info tr>:nth-child(2) {
    width: 31.5%;
}

table.doc-info tr>:nth-child(3) {
    width: 15%;
}

.print footer > .content > img.sdo-motto {
    height: 1.8cm;
    grid-column: 4;
    grid-row-start: 2;
    grid-row-end: span 5;
}

.print footer > .content > p > span[class^="material-"] {
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    font-size: 0.8em;
}

.sr-font-size-controls {
    position: relative;
    float: left;
    width: 0;
    height: 0;
    white-space: nowrap;
    font-size: 8pt;
    font-weight: bold;
    margin-top: -1em;
    display: none;
    visibility: hidden;
}

.sr-table-wrapper tr > :hover .sr-font-size-controls {
    display: initial;
    visibility: initial;
}

.app#sergs.print .sr-font-size-controls > .button-ex > button {
    width: 1.5em;
    height: 1.5em;
    padding: 0;
    opacity: 0.5;
}

.app#sergs.print .sr-font-size-controls > .button-ex > button:hover {
    opacity: 1;
}



.dialog-ex {
    font-family: Calibri, sans-serif;
}
