body, header, div {
/*    
   margin: 0;
   padding: 0;
   text-indent: 0;
   */
}

:hover {
    /* outline: 1px dotted red; */

}

body {
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}