body, .app > main {
    background-color: beige;
}

.app > main {
    padding: 2em;
    margin-bottom: 1em;
}

[class^=query-results-] {
    display: block;
    border: 2px inset;
    min-height: 3em;
    background-color: lightgray;
    margin-top: 1em;
}

.display-ex.main-criteria, .display-ex.summary {
    display: block;
    counter-reset: criteria2-heading;
    counter-reset: criteria3-heading;
}

.display-ex.main-criteria > .content,
.display-ex.summary > .content {
    display: block;
    margin: 1em 0;
    padding: 1em;
    border: 0.15em solid gray;
    border-radius: 1em;
}

.display-ex.main-criteria > .content > h3,
.display-ex.summary > .content > h3 {
    margin-top: 0;
    border-bottom: 1px solid;
}

.display-ex.main-criteria .main-criteria-points {
    display: block;
    text-align: right;
    margin-top: 1em;
    border-top: 1px solid;
    font-size: 1.1em;
    font-style: italic;
}

.display-ex.main-criteria .main-criteria-points > .content {
    font-weight: bold;
}

.display-ex.criteria2 {
    counter-reset: criteria3-heading;
    counter-increment: criteria2-heading;
}

.display-ex.criteria2 > .content > h4::before {
    content: counter(criteria2-heading) ". ";
}

.display-ex.criteria3 {
    counter-increment: criteria3-heading;
}

.display-ex.criteria3 > .content > h5::before {
    content: counter(criteria3-heading, lower-alpha) ". ";
}

.display-ex.main-criteria .content > h4,
.display-ex.main-criteria .content > h5,
.display-ex.main-criteria .content > h6 {
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 0.25em;
}

.display-ex.main-criteria .content > h5 {
    font-size: 0.95em;
}

.display-ex.main-criteria .content > h6 {
    font-size: 0.9em;
}

.display-ex.main-criteria .input-ex {
    display: block;
}

.display-ex.main-criteria .input-ex > .fields > :not(datalist) {
    display: inline;
}

/* .display-ex.main-criteria .input-ex > .fields > label {
    display: inline;
} */

.display-ex.criteria2.speakership .input-ex > .fields > label,
.display-ex.criteria3.outstanding_emp_award .input-ex > .fields > label {
    display: inline-block;
    width: 23em;
    max-width: 100%;
}

.display-ex.criteria2.research .input-ex > .fields > label,
.display-ex.criteria2.smetwg .input-ex > .fields > label,
.display-ex.criteria1.educationApp .criteria4.educationApp_exp_required .input-ex > .fields > label,
.display-ex.criteria1.trainingApp .criteria4 .input-ex > .fields > label {
    display: inline-block;
    width: 9em;
    max-width: 100%;
}

.display-ex.criteria1.potential .input-ex:not(.full-width) > .fields > label {
    display: inline-block;
    width: 16em;
    max-width: 100%;
}

.display-ex.criteria1.potential .input-ex > .fields > input {
    width: 5em;
}

.display-ex.summary > .content > h3 {
    text-transform: uppercase;
}

.display-ex.summary > .content > table {
    border-collapse: collapse;
    width: 100%;
}

.display-ex.summary > .content > table > thead > tr > * {
    border-bottom: 3px double;
}

.display-ex.summary > .content > table > tbody > tr > td {
    padding: 0.5em 1em;
    border-bottom: 1px solid;
    background-color: lightgray;
}

.display-ex.summary > .content > table > * > tr > td:nth-child(2) {
    font-style: italic;
}

.display-ex.summary > .content > table > tbody > tr > td + td {
    text-align: right;
}

.display-ex.summary > .content > table > tbody > tr:first-child + tr > td,
.display-ex.summary > .content > table > tbody > tr:first-child + tr + tr + tr > td,
.display-ex.summary > .content > table > tbody > tr:first-child + tr + tr + tr + tr + tr > td,
.display-ex.summary > .content > table > tbody > tr:first-child + tr + tr + tr + tr + tr + tr + tr > td,
.display-ex.summary > .content > table > tbody > tr:first-child + tr + tr + tr + tr + tr + tr + tr + tr + tr > td,
.display-ex.summary > .content > table > tbody > tr:first-child + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr > td,
.display-ex.summary > .content > table > tbody > tr:first-child + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr > td,
.display-ex.summary > .content > table > tbody > tr:first-child + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr > td {
    background-color: initial;
}

.display-ex.summary > .content > table > tfoot > tr > td {
    border-top: 3px double;
    padding: 0.5em 1em;
    text-align: right;
    font-weight: bold;
}

.ier-form {
    display: block;
    /* font-family: "Bookman Old Style", "URW Bookman", serif; */
}

/*
REINSTATE FOR PRINTOUT
.ier-form > h2 {
    text-transform: uppercase;
}
*/

.ier-position-info > .display-ex {
    display: block;
}

.ier-position-info .display-ex > * {
    display: inline;
    line-height: 1.5;
}

.ier-position > .content,
.ier-position-salary-grade > .content {
    font-weight: bold;
    border-bottom: 1px solid;
    padding: 0 0.5em;
    font-size: 0.8em;
    display: inline-flex;
    align-items: end;
    justify-content: center;
}

.ier-position > .content > .input-ex {
    /* float: right; */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-family: revert; */
    /* font-family: sans-serif; */
    position: absolute;
    right: 2em;
}

.ier-position-qs {
    overflow: hidden;
}

.ier-position-qs > .content {
    display: table;
    margin-left: 2em;
}

.ier-position-qs > .content > .display-ex {
    display: table-row;
}

.ier-position-qs > .content > .display-ex > * {
    display: table-cell;
}

.ier-position-qs > .content > .display-ex > label {
    padding-right: 0.5em;
}

.ier-position-qs > .content > .display-ex > .content {
    min-width: 25em;
    padding: 0 0.5em;
    border-bottom: 1px solid;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    font-size: 0.8em;
    display: flex;
    align-items: end;
    justify-content: center;
}

.ier-table {
    margin-top: 1em;
    border: 0.1em inset;
    background-color: white;
    overflow: auto;
    max-width: 100%;
    display: block;
}

.ier-table > .content {
    display: block;
}

.ier-table table {
    border-collapse: collapse;
    width: 100%;
}

.ier-table thead {
    font-size: 0.9em;
}

.ier-table tr > * {
    border: 1px solid;
    padding: 0.25em;
}

.ier-table tbody > tr > * {
    vertical-align: baseline;
}

.ier-table tbody > tr > :nth-child(3) {
    min-width: 15em;
}

.ier-table tr > :nth-child(1),
.ier-table tr > :nth-child(5),
.ier-table tr > :nth-child(6),
.ier-table tr > :nth-child(7),
.ier-table tr > :nth-child(8),
.ier-table tr > :nth-child(9),
.ier-table tr > :nth-child(10),
.ier-table tr > :nth-child(15),
.ier-table tr > :nth-child(17),
.ier-table tr > :nth-child(19) {
    text-align: center;
}

.query-results-users {
    display: block;
    max-width: 100%;
    margin-top: 1em;
    border: 2px inset;
    padding: 0.2em;
}

.query-results-users > .content {
    display: block;
    overflow: auto;
    background-color: white;
}

.query-results-users table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
}

.query-results-users table > * > tr > * {
    border: 1px solid;
    padding: 0.2em;
}

.query-results-users table > thead > tr > * {
    background-color: lightgray;
}

.query-results-users table > tbody > tr > td + td {
    text-align: center;
}

.query-results-users .account-controls button {
    padding: 0;
    border-radius: 50%;
    border-width: 1px;
    cursor: pointer;
}

.query-results-users .account-controls button > span[class^=material-] {
    font-size: inherit;
    padding: 0;
    margin: 0;
}

.user-editor > .dialog {
    overflow-x: hidden;
    overflow-y: auto;
}

.user-editor > .dialog > .form-ex {
    display: block;
    overflow: auto;
}

.user-editor > .dialog > .form-ex > h3 {
    margin: 0 0 0.5em;
    text-align: center;
}

.user-editor > .dialog > .form-ex > .fields {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 0.25em 1em;
    /* width: 40em; */
    align-items: center;
    /* justify-content: center; */
    overflow: auto;
}

.user-editor > .dialog > .form-ex > .fields > * {
    display: block;
    grid-column: span 2;
}

.user-editor > .dialog > .form-ex > .fields > .input-ex > .fields {
    width: 11em;
}

.user-editor > .dialog > .form-ex > .fields > .input-ex > .fields > label {
}

.user-editor > .dialog > .form-ex > .fields > .input-ex > .fields > input {
    display: block;
    width: 100%;
}

.user-editor > .dialog > .form-ex > .fields > .input-ex > .fields > .status-pane {
}

.user-editor > .dialog > .form-ex > .fields > .employeeId,
.user-editor > .dialog > .form-ex > .fields > .temp_user {
    grid-column: span 3;
}

.user-editor > .dialog > .form-ex > .fields > .employeeId > .fields,
.user-editor > .dialog > .form-ex > .fields > .temp_user > .fields,
.user-editor > .dialog > .form-ex > .fields > .username > .fields {
    width: unset;
}

.user-editor > .dialog > .form-ex > .fields > .employeeId > .fields > input {
    display: inline-block;
    width: 10em;
}

.user-editor > .dialog > .form-ex > .fields > .temp_user > .fields > input {
    display: inline;
    width: unset;
}

.user-editor > .dialog > .form-ex > .fields > .username {
    grid-column: span 6;
}

.user-editor > .dialog > .form-ex > .fields > .username > .fields {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    align-items: center;
}

.user-editor > .dialog > .form-ex > .fields > .username > .fields > label {
    display: block;
}

.user-editor > .dialog > .form-ex > .fields > .username > .fields > input {
    display: block;
    width: 100%;
    grid-column: span 5;
}


.user-editor > .dialog > .form-ex > .fields > .user-editor-access-levels {
    grid-column: span 6;
}

.user-editor-access-levels > label {
    display: block;
}

.user-editor-access-levels > .content {
    display: grid;
    grid-template-columns: auto auto auto;
}

.user-editor-access-levels > .content > .input-ex {
}

.user-editor-access-levels > .content > .input-ex > .fields {
}

.user-editor-access-levels > .content > .input-ex > .fields > label {
}

.user-editor-access-levels > .content > .input-ex > .fields > input {
    width: 5em;
}

.user-editor-buttons {
    display: block;
    margin-top: 1em;
}

.user-editor-buttons > .fields {
    text-align: center;
}

.user-editor > .dialog > .form-ex > .fields > .status-pane {
    grid-column: span 6;
    text-align: center;
}

.password-editor > .dialog {
    overflow-x: hidden;
    overflow-y: auto;
}

.password-editor > .dialog > .form-ex {
    display: block;
    overflow: auto;
}

.password-editor > .dialog > .form-ex > h3 {
    margin: 0 0 0.5em;
    text-align: center;
}


.password-editor > .dialog > .form-ex > .fields > .input-ex {
    display: block;
}

.password-editor > .dialog > .form-ex > .fields > .input-ex > .fields {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 0.25em 1em;
}

.password-editor > .dialog > .form-ex > .fields > .input-ex > .fields > label {}

.password-editor > .dialog > .form-ex > .fields > .input-ex > .fields > input {}

.password-editor > .dialog > .form-ex > .fields > .status-pane {
    grid-column: span 6;
    text-align: center;
}

.password-editor-buttons {
    display: block;
    margin-top: 1em;
}

.password-editor-buttons > .fields {
    text-align: center;
}

.ies-form {
    display: block;
    /* font-family: "Bookman Old Style", "URW Bookman", serif; */
}

.ies-load-application {
    display: block;
    text-align: right;
}

.ies-load-application > .fields > .status-pane {
    display: block;
}

.ies-form .applicant-info {
    display: inline-block;
    /* max-width: 50%; */
}

.ies-form .applicant-info > .content {
    display: block;
}

.ies-form .applicant-info > .content > .display-ex {
    display: grid;
}

.ies-form .applicant-info > .content > .display-ex.application_code {
    grid-template-columns: 9.5em auto auto;
    /* position: absolute; ADD IN PRINT.CSS
    right: 2em; */
}

.ies-form .applicant-info > .content > .display-ex.applicant_name {
    grid-template-columns: 10em auto auto;
}

.ies-form .applicant-info > .content > .display-ex.position_title_applied {
    grid-template-columns: 11em auto auto;
}

.ies-form .applicant-info > .content > .display-ex.place_of_assignment {
    grid-template-columns: 3.5em auto auto;
}

.ies-form .applicant-info > .content > .display-ex.place_of_assignment.sdo {
    grid-template-columns: 12.5em auto auto;
}

.ies-form .applicant-info > .content > .display-ex.contact_number {
    grid-template-columns: 9em auto auto;
}

.ies-form .applicant-info > .content > .display-ex.job_group_salary_grade {
    grid-template-columns: 11em auto auto;
}

.ies-form .applicant-info > .content > .display-ex > * {
    display: inline;
}

.ies-form .applicant-info > .content > .display-ex > label {}

.ies-form .applicant-info > .content > .display-ex > .content {
    border-bottom: 0.02em solid;
    /* white-space: nowrap; */
    /* min-width: 5em; */
    grid-column: span 2;
    padding: 0 1em;
    text-align: center;
    font-size: 0.8em;
    display: flex;
    align-items: end;
    justify-content: center;
}

.ies-table {
    display: block;
    margin-top: 1em;
}

.ies-table > .content {
    display: block;
}

.ies-table > .content > table {
    border-collapse: collapse;
    width: 100%;
}

.ies-table > .content > table > * > tr > * {
    border: 0.05em solid black;
    padding: 0.3em 0.15em;

}

.ies-table > .content > table > thead > tr > * {
    background-color: gray;
    color: white;
}

.ies-table > .content > table > thead > tr > * > .subhead {
    font-size: 0.85em;
    font-weight: normal;
    font-style: italic;
}

.ies-table > .content > table > tfoot > tr > * {
    background-color: gray;
    color: white;
    font-weight: bold;
    text-align: center;
}

.ies-table > .content > table > tfoot > tr > :first-child {
    text-transform: uppercase;
}

.ies-table > .content > table > tfoot > tr > :last-child {
    background-color: unset;
    color: unset;
}

.ies-table > .content > table > tbody > tr > :nth-child(2) {
    text-align: center;
}

.ies-table > .content > table > * > tr > :nth-child(5) {
    text-align: right;
}

.position-selector > .dialog > .form-ex > h3 {
    margin: 0px 0px 0.5em;
    text-align: center;
}

.position-selector > .dialog > .form-ex > .fields > .input-ex:not(.position-selector-buttons) {
    display: block;
}

.position-selector > .dialog > .form-ex > .fields > .input-ex:not(.position-selector-buttons) > .fields {
    display: grid;
    align-items: center;
    column-gap: 0.5em;
    grid-template-columns: auto auto 0.5em;
}

.position-selector > .dialog > .form-ex > .fields > .input-ex:not(.position-selector-buttons) > .fields > select {
    min-width: 15em;
}

.position-selector > .dialog > .form-ex > .fields > .input-ex.position-selector-buttons {
    display: block;
}

.position-selector > .dialog > .form-ex > .fields > .input-ex.position-selector-buttons > .fields {
    text-align: center;
}

.job-application-selector > .dialog > .form-ex > h3 {
    margin: 0px 0px 0.5em;
    text-align: center;
}

.job-application-selector > .dialog > .form-ex > .fields > .applicant-query-box {
    display: block;
    margin-bottom: 1em;
}

.job-application-selector > .dialog > .form-ex > .fields > .applicant-query-box > .fields > input {
    display: block;
    width: 100%;
}

.job-application-selector > .dialog > .form-ex > .fields > .applicant-list-box {
    display: block;
}

.job-application-selector > .dialog > .form-ex > .fields > .applicant-list-box > .fields {
    display: flex;
    flex-direction: column;
    max-height: 15em;
    overflow: auto;
}

.job-application-selector > .dialog > .form-ex > .fields > .job-application-selector-buttons {
    display: block;
    margin-top: 1em;
    text-align: right;
}

.car-form {
    display: block;
    /* font-family: "Bookman Old Style", "URW Bookman", serif; */
}

.car-form > .fields > .car-select-position-button {
    display: block;
    text-align: right;
}

.car-position-info {
    /* display: grid; */
    /* grid-template-columns: auto 0.5em auto; */
    display: inline-block;
}

.car-position-info > .display-ex {
    display: grid;
    align-items: center;
}

.car-position-info > .display-ex.position {
    grid-template-columns: 4.75em auto;
}

.car-position-info > .display-ex.plantilla_item_numbers {
    grid-template-columns: 11.5em auto;
}

.car-position-info > .display-ex.place_of_assignment {
    grid-template-columns: 27em auto;
}

.car-position-info > .display-ex > label {}

.car-position-info > .display-ex > .content {
    display: block;
    border-bottom: 1px solid;
    min-height: 1.3em;
    min-width: 4em;
    text-align: center;
    white-space: nowrap;
    overflow-x: hidden;
    padding: 0 0.5em;
    font-size: 0.8em;
}

.car-position-info > .input-ex.final_deliberation_date {
    display: block;
}

.car-position-info > .input-ex.final_deliberation_date > .fields {
    display: grid;
    grid-template-columns: 13.5em auto;
    align-items: center;
}

.car-position-info > .input-ex.final_deliberation_date > .fields > input {
    padding: unset;
    border-radius: unset;
    border: 0 none;
    border-bottom: 1px solid;
    padding: 0 0.5em;
    font-size: 0.8em;
    text-align: center;
    min-width: 4em;
}

.car-table {
    display: block;
    overflow: auto;
    margin-top: 1em;
    background-color: white;
    border: 0.15em inset;
}

.car-table > .content {
    display: block;
}

.car-table > .content > table {
    border-collapse: collapse;
    width: 100%;
}

.car-table > .content > table > * > tr > * {
    border: 0.05em solid black;
    padding: 0.3em 0.15em;
}

.car-table > .content > table > thead > tr > * > .subhead {
    font-size: 0.8em;
    font-weight: normal;
    font-style: italic;
}

.car-table > .content > table > tbody > tr.top-rank > * {
    background-color: lightgreen;
}

.car-table > .content > table > tbody > tr.top-rank > * + * + * + * + * + * + * + * + * + * + * + * + * {
    background-color: unset;
}

.car-table > .content > table > tbody > tr > * {
    text-align: center;
}

.car-table > .content > table > tbody > tr > :nth-child(2) {
    text-align: left;
    white-space: nowrap;
}

.car-form > .fields > .car-update {
    display: block;
    text-align: right;
}

.rqa-form {
    display: block;
    /* font-family: "Bookman Old Style", "URW Bookman", serif; */
}

.rqa-form > .fields > .rqa-select-position-button {
    display: block;
    text-align: right;
}

.rqa-position-info {
    /* display: grid; */
    /* grid-template-columns: auto 0.5em auto; */
    display: inline-block;
}

.rqa-position-info > .display-ex {
    display: grid;
    align-items: center;
}

.rqa-position-info > .display-ex.position {
    grid-template-columns: 4.5em auto;
}

.rqa-position-info > .display-ex.place_of_assignment {
    grid-template-columns: 12em auto;
}

.rqa-position-info > .display-ex > label {}

.rqa-position-info > .display-ex > .content {
    display: block;
    border-bottom: 1px solid;
    min-height: 1.3em;
    min-width: 4em;
    text-align: center;
    white-space: nowrap;
    overflow-x: hidden;
    padding: 0 0.5em;
    font-size: 0.8em;
}

.rqa-position-info > .input-ex.final_deliberation_date {
    display: block;
}

.rqa-position-info > .input-ex.final_deliberation_date > .fields {
    display: grid;
    grid-template-columns: 13.5em auto;
    align-items: center;
}

.rqa-position-info > .input-ex.final_deliberation_date > .fields > input {
    padding: unset;
    border-radius: unset;
    border: 0 none;
    border-bottom: 1px solid;
    padding: 0 0.5em;
    font-size: 0.8em;
    text-align: center;
    min-width: 4em;
}

.rqa-table {
    display: block;
    overflow: auto;
    margin-top: 1em;
    background-color: white;
    border: 0.15em inset;
}

.rqa-table > .content {
    display: block;
}

.rqa-table > .content > table {
    border-collapse: collapse;
    width: 100%;
}

.rqa-table > .content > table > * > tr > * {
    border: 0.05em solid black;
    padding: 0.3em 0.15em;
}

.rqa-table > .content > table > thead > tr > * > .subhead {
    font-size: 0.85em;
    font-weight: normal;
    font-style: italic;
}

.rqa-table > .content > table > tbody > tr.top-rank > * {
    background-color: lightgreen;
}

.rqa-table > .content > table > tbody > tr > * {
    text-align: center;
}

.rqa-table > .content > table > tbody > tr > :nth-child(2) {
    text-align: left;
    white-space: nowrap;
}

.rqa-form > .fields > .rqa-update {
    display: block;
    text-align: right;
}
