/* @page {
    size: A4 landscape;
    width: 297mm;
    height: 210;
} */
:root {
    --page-margin-top: 2.2in;
    --page-margin-bottom: 1in;
    /* --page-margin-bottom: 3in; */
    --font-size-service: 1em;
    --font-size-appointment: 1em;
    --font-size-office: 1em;
    --font-size-branch: 1em;
    --font-size-lwop-count: 1em;
    --font-size-separation-date: 1em;
    --font-size-inclusive-date: 1em;
    --font-size-designation: 1em;
    --font-size-status: 1em;
    --font-size-salary: 1em;
    --font-size-station: 1em;
    --font-size-date-start: 1em;
    --font-size-date-end: 1em;

    --font-family-print-default: Calibri, sans-serif;
    --font-size-print-default: 11pt;

    --font-size-page-header: 10pt;
    --font-family-page-header: inherit;
    --width-page-header-deped-logo: 2cm;
    --font-size-page-header-rp: 12pt;
    --font-family-page-header-rp: "Old English Text MT", "Bookman Old Style", "URW Bookman", Times, serif;
    --font-size-page-header-deped: 18pt;
    --font-family-page-header-deped: "Old English Text MT", "Bookman Old Style", Times, serif;
    --font-size-page-header-region: 11pt;
    --font-family-page-header-region: "Times New Roman", Times, serif;
    --font-size-page-header-sdo: 10.5pt;
    --font-family-page-header-sdo: Tahoma, Geneva, Verdana, Calibri, sans-serif;

    --font-family-sr-form-title: inherit;
    --font-size-sr-form-title: 12pt;

    --font-family-sr-form-emp-info: inherit;
    --font-size-sr-form-emp-info: 10pt;

    --font-family-sr-form-emp-info-label: inherit;
    --font-size-sr-form-emp-info-label: inherit;
    --line-height-sr-form-emp-info-label: 12pt;
    
    --font-family-sr-form-emp-info-sublabel: inherit;
    --font-size-sr-form-emp-info-sublabel: 6pt;
    --line-height-sr-form-emp-info-sublabel: inherit;
    
    --font-family-sr-form-emp-info-blank: inherit;
    --font-size-sr-form-emp-info-blank: 11pt;
    --line-height-sr-form-emp-info-blank: 12pt;

    --font-family-sr-form-emp-info-comment: inherit;
    --font-size-sr-form-emp-info-comment: 8pt;
    --line-height-sr-form-emp-info-comment: 12pt;

    --font-family-sr-table-prenote: inherit;
    --font-size-sr-table-prenote: 8pt;
    --line-height-sr-table-prenote: inherit;
    --text-align-sr-table-prenote: center;

    --font-family-sr-table-postnote: var(--font-family-sr-table-prenote);
    --font-size-sr-table-postnote: var(--font-size-sr-table-prenote);
    --line-height-sr-table-postnote: var(--line-height-sr-table-prenote);
    --text-align-sr-table-postnote: var(--text-align-sr-table-prenote);

    --font-family-sr-table: inherit;
    --font-size-sr-table: 10pt;
    --text-align-sr-table: center;
    --valign-sr-table: middle;

    --font-family-sr-table-th: var(--font-family-sr-table);
    --font-size-sr-table-th: 11pt;
    --text-align-sr-table-th: var(--text-align-sr-table);
    --valign-sr-table-th: var(--valign-sr-table);

    --font-family-sr-table-th-small: var(--font-family-sr-table-th);
    --font-size-sr-table-th-small: 9pt;
    --text-align-sr-table-th-small: var(--text-align-sr-table-th);
    --valign-sr-table-th-small: var(--valign-sr-table-th);

    --font-family-sr-signatory: inherit;
    --font-size-sr-signatory: 11pt;

    --height-sr-table-td: 24pt;

    --font-family-timestamp: inherit;
    --font-size-timestamp: 8pt;
    --font-style-timestamp: italic;
}

@media only screen {
    body.print {
        margin-top: 6em;
        padding: 1em;
    }

    .ies-form .applicant-info > .content > .display-ex.application_code {
        right: 1em;
    }
}

@media only print {
    body.print {
        padding: 0em;
    }

    body.print .print-controls {
        display: none;
        visibility: hidden;
    }

    .ies-form .applicant-info > .content > .display-ex.application_code {
        right: 0em;
    }
}

@media only print {
    body {
        background-color: unset !important;
    }

    .print {
        padding: 0 !important;
    }

    .print #letter-print > header#letter-header {
        position: fixed;
        top: 0.15in;
        left: 0.25in;
        right: 0.25in;
        margin: 0 !important;
    }

    #letter-print::before {
        display: block;
        content: " ";
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -10;
        background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url("/test/images/logo-depedstotomas.webp");
        background-size: 6in;
        background-repeat: no-repeat;
        background-position: center 3.61in;
    }
    
    #letter-print {
        max-width: initial;
        background-color: none;
        margin: 0 !important;
        padding: 0.15in 0.4in !important;
        box-shadow: unset !important;
    }

    .print #letter-main {
        font-family: "Bookman Old Style", "URW Bookman", serif !important;
        padding-top: 1.75in !important;
        padding-left: 0.5in !important;
        padding-right: 0.5in !important;
    }
    
    .print footer#letter-footer {
        position: fixed;
        bottom: 0.15in;
        left: 0.25in;
        right: 0.25in;
        margin: 0 !important;
    }
}

@media only screen {
    .print footer > .content {
        font-size: 0.8em !important;
    }

    #letter-print {
        background-color: white;
    }
}

*  {
    font-size: 1em;
}

body.print {
    background-color: unset;
    font-family: "Bookman Old Style", "URW Bookman", serif;
}

#letter-print {
    font-size: var(--font-size-print-default);
    font-family: var(--font-family-print-default);
    max-width: 8.5in;
    margin: 0 auto;
    /* padding: 0.5in; */
    padding: 0.15in 0.5in;
    box-shadow: 3pt 3pt 5pt black;
}

.print #letter-print > header {
    text-align: center;
    margin: 0 -0.25in;
}

.print #letter-print > header > h1 {
    margin: 0;
    font-size: var(--font-size-page-header);
    border-bottom: 2pt solid;
}

.print #letter-print > header > h1::after {
    display: block;
    content: " ";
    /* border-bottom: 1pt solid; */
    /* margin-bottom: 1pt; */
}

.print #letter-print > header > h1 > img.deped-logo {
    width: var(--width-page-header-deped-logo);
}

.print #letter-print > header > h1 > span {
    display: block;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    line-height: 1.25em;
}

.print #letter-print > header > h1 > span.header-rp,
.print #letter-print > header > h1 > span.header-deped {
    text-transform: none;
}

.print #letter-print > header > h1 > span.header-rp {
    font-family: var(--font-family-page-header-rp);
    font-size: var(--font-size-page-header-rp);
}

.print #letter-print > header > h1 > span.header-deped {
    font-family: var(--font-family-page-header-deped);
    font-size: var(--font-size-page-header-deped);
}

.print #letter-print > header > h1 > span.header-region {
    font-family: var(--font-family-page-header-region);
    font-size: var(--font-size-page-header-region);
}

.print #letter-print > header > h1 > span.header-sdo {
    font-family: var(--font-family-page-header-sdo);
    font-size: var(--font-size-page-header-sdo);
    font-weight: 900;
}

.print #letter-main {
    font-family: "Bookman Old Style", "URW Bookman", serif;
    font-size: 10pt;
    padding-top: 0.5em;
    padding-left: 3em;
    padding-right: 3em;
}

.print .letter-addressee > * > .name,
.print .letter-salutation > * > .last-name,
.print .letter-body .position-applied,
.print .letter-body .place-of-assignment,
.print .letter-body .evaluation-date,
.print .letter-body .application-code {
    font-weight: bold;
}

.print .letter-addressee > * > .name,
.print .letter-salutation > * > .last-name,
.print .letter-body .position-applied {
    text-transform: uppercase;
}

.print .letter-addressee > * > .address {
    white-space: pre-wrap;
}

.print .letter-salutation > * {
    margin: 2em 0;
}

.print .letter-body p {
    text-align: justify;
}

.print .letter-body a {
    color: inherit;
    display: inline-flex;
}

.print table.qualification-table {
    border-collapse: collapse;
    border: 1px solid;
}

.print table.qualification-table > * > tr > * {
    padding: 0.025in 0.05in;
    border: 1px solid black;
}

.print table.qualification-table > thead > tr > * {
    background-color: gray;
    color: white;
}

.print table.qualification-table > tbody > tr > :last-child {
    text-align: center;
}

.print .letter-closing > * {
    margin-top: 2em;
}

.print .letter-closing .letter-sender {
    padding-top: 0em;
}

.print .letter-signature {
    display: block;
    height: 4em;
    margin-bottom: -1.5em;
    margin-left: 4em;
}

.print .letter-closing .letter-sender > .name {
    font-weight: bold;
    text-transform: uppercase;
}

.print footer {
    margin: 0 -0.25in;
}

.print footer > .content::before {
    display: block;
    content: "";
    grid-column: 1 / span 4;
    border-top: 2pt solid;
    padding-top: 1pt;
    height: 1pt;
    /* border-bottom: 1pt solid; */
    /* margin-bottom: 0.5em; */
}

.print footer > .content {
    padding: 0.5em 0.5em 0;
    display: grid;
    grid-template: auto auto auto auto /*auto*/ / 4cm 2cm auto 1.5cm;
    font-size: 10pt;
    align-items: center;
    clear: both;
}

.print footer > .content > img.matatag-bagongpilipinas-logo {
    height: 2cm;
    grid-row-end: span 4; /* 5; */
}

.print footer > .content > img.sdo-logo {
    height: 1.6cm;
    grid-row-end: span 4; /* 5; */
    /* padding-left: 6pt; */
}

.print footer > .content > p {
    grid-column: 3;
    margin: 0;
    padding: 0;
}

.print footer > .content > p > a {
    color: inherit;
    text-decoration: none;
}

.print footer > .content > p > a:hover {
    color: blue;
    text-decoration: underline;
}

.print footer > .content > table.doc-info {
    grid-column: 3;
    width: 16em;
    border: 1px solid;
    border-collapse: collapse;
    font-weight: bold;
    margin: 0;
    padding: 0;
    display: none; /* TEMP */
    visibility: hidden; /* TEMP */
}

.print footer > .content > table.doc-info tr>* {
    border: 1px solid;
    padding: 0 0.75em;
    font-size: 0.6em;
}

table.doc-info tr>:nth-child(1) {
    width: 31.5%;
}

table.doc-info tr>:nth-child(2) {
    width: 31.5%;
}

table.doc-info tr>:nth-child(3) {
    width: 15%;
}

.print footer > .content > img.sdo-motto {
    height: 1.8cm;
    grid-column: 4;
    grid-row-start: 2;
    grid-row-end: span 4; /* 5; */
}

.print footer > .content > p > span[class^="material-"] {
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    font-size: 0.8em;
}

.print .print-controls {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    font-size: 18pt;
    text-align: right;
    background-color: navy;
    padding: 1em;
    z-index: 1;
}

.print .print-controls > .fields > .input-ex > .fields > button {
    margin: 0;
    padding: 0;
    border-width: 1px;
}

.print .print-controls > .fields > .input-ex > .fields > button > [class^=material-] {
    margin: 0;
    padding: 0;
    font-size: 1em;
    height: 1.5em;
    width: 1.6em;
}

.ier-form {
    font-size: 1em;
}

.ier-form > h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 12pt;
    margin-bottom: 24pt;
}

.ier-position-info {
    font-size: 10pt;
}

.ier-table {
    margin-top: 18pt;
    overflow: visible;
    font-size: 8pt;
    border: unset;
}

.ier-table > .content,
.ier-table > .content > table,
.ier-table > .content > table > *,
.ier-table > .content > table > * > tr,
.ier-table > .content > table > * > tr > *,
.ier-table > .content > table > * > tr > * ul,
.ier-table > .content > table > * > tr > * li {
    font-size: 1em;
}

.ier-table.hide-personal-data > .content > table > thead > tr:first-child > :nth-child(3),
.ier-table.hide-personal-data > .content > table > thead > tr:first-child > :nth-child(4),
.ier-table.hide-personal-data > .content > table > thead > tr:last-child > :nth-child(1),
.ier-table.hide-personal-data > .content > table > thead > tr:last-child > :nth-child(2),
.ier-table.hide-personal-data > .content > table > thead > tr:last-child > :nth-child(3),
.ier-table.hide-personal-data > .content > table > thead > tr:last-child > :nth-child(4),
.ier-table.hide-personal-data > .content > table > thead > tr:last-child > :nth-child(5),
.ier-table.hide-personal-data > .content > table > thead > tr:last-child > :nth-child(6),
.ier-table.hide-personal-data > .content > table > thead > tr:last-child > :nth-child(7),
.ier-table.hide-personal-data > .content > table > thead > tr:last-child > :nth-child(8),
.ier-table.hide-personal-data > .content > table > thead > tr:last-child > :nth-child(9),
.ier-table.hide-personal-data > .content > table > tbody > tr > :nth-child(3),
.ier-table.hide-personal-data > .content > table > tbody > tr > :nth-child(4),
.ier-table.hide-personal-data > .content > table > tbody > tr > :nth-child(5),
.ier-table.hide-personal-data > .content > table > tbody > tr > :nth-child(6),
.ier-table.hide-personal-data > .content > table > tbody > tr > :nth-child(7),
.ier-table.hide-personal-data > .content > table > tbody > tr > :nth-child(8),
.ier-table.hide-personal-data > .content > table > tbody > tr > :nth-child(9),
.ier-table.hide-personal-data > .content > table > tbody > tr > :nth-child(10),
.ier-table.hide-personal-data > .content > table > tbody > tr > :nth-child(11),
.ier-table.hide-personal-data > .content > table > tbody > tr > :nth-child(12) {
    display: none;
    visibility: hidden;
}

.ier-table > .content > table > * > tr > * {
    border: 1px solid;
}

.ier-table a.link-generate-letter {
    color: black;
}

.ier-printout-signatory {
    margin-top: 12pt;
    font-size: 10pt;
    float: right;
    padding: 0 4em;
}

.ier-printout-signatory > label {
    display: block;
}

.ier-printout-signatory > .content {
    text-align: center;
    display: block;
}

.ier-printout-signatory > .content > .name {
    display: flex;
    height: 5em;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    min-height: 1.2em;
}

.ier-printout-signatory > .content > .name > .ier-signature {
    display: block;
    height: 4em;
    margin-bottom: -2em;
}

.ier-printout-signatory > .content > .position {
    border-top: 1px solid;
    padding: 0 1em;
    width: 21em;
    min-height: 1.2em;
}

.ier-printout-signatory > .content > .date {
    min-width: 7em;
    border-bottom: 1px solid;
    display: inline-block;
    text-align: center;
    margin-left: 3em;
}

.ier-printout-signatory > .content > .date::before {
    content: "Date: ";
    float: left;
    text-align: left;
    width: 3em;
    margin-left:-3em;
}

.ier-printout-instructions {
    font-size: 6pt;
    clear: right;
    margin-right: 55em;
}

.ier-printout-instructions > label {
    font-weight: bold;
    font-size: 1em;
}

.ier-printout-instructions > .content {
    font-style: italic;
    font-size: 1em;
}

.ier-printout-instructions > .content > ol {
    list-style: none;
    list-style-position: inside;
    font-size: 1em;
    padding: 0;
    counter-reset: ier-notes;
}

.ier-printout-instructions > .content > ol > li {
    font-size: 1em;
    counter-increment: ier-notes;
}

.ier-printout-instructions > .content > ol > li::before {
    content: counter(ier-notes, lower-alpha) ") ";
}

.ies-form {
    font-size: 10.33pt;
}

.ies-form > h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    margin-bottom: 12pt;
}

.ies-form .applicant-info {
    font-size: 1em;
}

.ies-form .applicant-info > .content > .display-ex.application_code {
    position: absolute;
    z-index: 0;
}

.ies-table {
    margin-top: 12pt;
    overflow: visible;
    font-size: 1em;
    border: unset;
}

.ies-table > .content,
.ies-table > .content > table,
.ies-table > .content > table > *,
.ies-table > .content > table > * > tr,
.ies-table > .content > table > * > tr > *,
.ies-table > .content > table > * > tr > * ul,
.ies-table > .content > table > * > tr > * li {
    font-size: 1em;
}

.ies-table > .content > table > * > tr > * {
    border: 1px solid black;
}

.ies-printout-conforme {
    margin-top: 18pt;
    font-size: 1em;
    text-align: justify;
}

.ies-printout-signatory-applicant {
    display: block;
    margin-top: 12pt;
    margin-bottom: 12pt;
    font-size: 1em;
    float: right;
    padding: 0;
}

.ies-printout-signatory-applicant > label {
    display: block;
}

.ies-printout-signatory-applicant > .content {
    text-align: center;
    display: block;
}

.ies-printout-signatory-applicant > .content > .name {
    display: flex;
    height: 5em;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    min-height: 1.2em;
}

.ies-printout-signatory-applicant > .content > .name::after {
    content: "Name and Signature of Applicant";
    display: block;
    border-top: 1px solid;
    padding: 0.1em 1.5em 0;
    /* width: 21em; */
    min-height: 1.2em;
}

.ies-printout-signatory-applicant > .content > .date {
    width: 7em;
    text-align: left;
}

.ies-printout-signatory-applicant > .content > .date::before {
    content: "Date: ";
    text-align: left;
}

.ies-printout-signatory-hrmpsb {
    display: block;
    margin-top: 12pt;
    font-size: 1em;
    padding: 0;
    clear: right;
}

.ies-printout-signatory-hrmpsb > label {
    display: block;
}

.ies-printout-signatory-hrmpsb > .content {
    text-align: left;
}

.ies-printout-signatory-hrmpsb > .content > .name {
    display: flex;
    height: 5em;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    min-height: 1.2em;
}

.ies-printout-signatory-hrmpsb > .content > .name::after {
    content: "HRMPSB Chair";
    display: block;
    border-top: 1px solid;
    padding: 0.1em 0 0;
    width: 14em;
    min-height: 1.2em;
}

.ies-printout-signatory-hrmpsb > .content > .date {
    display: none;
    visibility: hidden;
    width: 7em;
    text-align: left;
}

.ies-printout-signatory-hrmpsb > .content > .date::before {
    content: "Date: ";
    text-align: left;
}

.car-form {
    font-size: 10pt;
}

.car-form > h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    margin-bottom: 12pt;
}

.car-position-info {
    display: grid;
    grid-template-columns: 45% auto 45%;
    font-size: 0.8em;
}

.car-position-info > .display-ex > label {
    font-weight: bold;
}

.car-position-info > .display-ex.position {
    grid-template-columns: 5em auto;
}

.car-position-info > .display-ex.plantilla_item_numbers {
    grid-template-columns: 12em auto;
}

.car-position-info > .display-ex.place_of_assignment {
    grid-template-columns: 28.75em auto;
}

.car-position-info > .input-ex.final_deliberation_date > .fields {
    grid-template-columns: 14em auto;
}

.car-position-info > .input-ex.final_deliberation_date > .fields > label {
    font-weight: bold;
}

.car-table {
    margin-top: 1em;
    overflow: visible;
    font-size: 0.8em;
    border: unset;
}

.car-table > .content,
.car-table > .content > table,
.car-table > .content > table > *,
.car-table > .content > table > * > tr,
.car-table > .content > table > * > tr > *,
.car-table > .content > table > * > tr > * ul,
.car-table > .content > table > * > tr > * li {
    font-size: 1em;
}

.car-table > .content > table > * > tr > * {
    border: 1px solid black;
}

.car-table > .content > table > tbody > tr > :nth-child(3) {
    white-space: nowrap;
}

.car-printout-signatory {
    display: block;
    font-size: 0.8em;
    margin-top: 2.5em;
}

.car-printout-signatory > .content {
    display: block;
}

.car-printout-signatory > .content > .hrmpsb {
    float: left;
    width: 70%;
}

.car-printout-signatory > .content > .hrmpsb > .content {
    /* display: flex;
    justify-content: space-evenly; */
    display: grid;
    grid-template: auto auto / auto auto auto auto auto auto;
    grid-gap: 3em 1em;
    padding-top: 2em;
}

.car-printout-signatory > .content > .hrmpsb > .content > * {
    display: inline-block;
    min-width: 12em;
}

.car-printout-signatory > .content > .hrmpsb > .content > * > .content {
    display: block;
    text-align: center;
}

.car-printout-signatory > .content > .hrmpsb > .content > * > .content > .name-position {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 5em;
    font-size: 1em;
}

.car-printout-signatory > .content > .hrmpsb > .content > * > .content > .name-position::after {
    width: 100%;
    border-top: 1px solid;
    content: "Name and Position";
    display: block;
    font-size: 1em;
}

.car-printout-signatory > .content > .appointer {
    margin-right: 10%;
    float: right;
}

.car-printout-signatory > .content > .appointer > .content {
    display: block;
    text-align: center;
}

.car-printout-signatory > .content > .appointer > .content > .name-position {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 5.85em;
    font-size: 1em;
}

.car-printout-signatory > .content > .appointer > .content > .name-position::after {
    width: 100%;
    border-top: 1px solid;
    content: "Name and Position";
    display: block;
    font-size: 1em;
}

.rqa-form {
    font-size: 10pt;
}

.rqa-form > h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    margin-bottom: 12pt;
}

.rqa-position-info {
    display: grid;
    grid-template-columns: 45% auto 45%;
    font-size: 0.8em;
}

.rqa-position-info > * {
    grid-column-end: span 1;
}

.rqa-position-info > .display-ex > label {
    font-weight: bold;
}

.rqa-position-info > .display-ex.position {
    grid-column-start: 1;
    grid-row: 1;
    grid-template-columns: 5em auto;
}

/* .rqa-position-info > .display-ex.plantilla_item_numbers {
    grid-template-columns: 11.5em auto;
}
 */
.rqa-position-info > .display-ex.place_of_assignment {
    grid-row: 2;
    grid-template-columns: 12.75em auto;
}

.car-mode .rqa-position-info > .display-ex.place_of_assignment {
    grid-template-columns: 28.75em auto;
}

.car-mode .rqa-position-info > .display-ex.plantilla_item_numbers {
    grid-row: 1;
    grid-column-start: 3;
    grid-template-columns: 12em auto;
}

.rqa-position-info > .input-ex.final_deliberation_date {
    grid-column-start: 3;
}

.rqa-position-info > .input-ex.final_deliberation_date > .fields {
    grid-template-columns: 14em auto;
}

.car-mode .rqa-position-info > .input-ex.final_deliberation_date {
    grid-row: 2;
}

.rqa-position-info > .input-ex.final_deliberation_date > .fields > label {
    font-weight: bold;
}

.rqa-table {
    margin-top: 1em;
    overflow: visible;
    font-size: 0.8em;
    border: unset;
}

.rqa-table > .content,
.rqa-table > .content > table,
.rqa-table > .content > table > *,
.rqa-table > .content > table > * > tr,
.rqa-table > .content > table > * > tr > *,
.rqa-table > .content > table > * > tr > * ul,
.rqa-table > .content > table > * > tr > * li {
    font-size: 1em;
}

.rqa-table > .content > table > * > tr > * {
    border: 1px solid black;
}

.rqa-table > .content > table > tbody > tr > :nth-child(3) {
    white-space: nowrap;
}

.rqa-printout-signatory {
    display: block;
    font-size: 0.8em;
    margin-top: 2.5em;
}

.rqa-printout-signatory > .content {
    display: block;
}

.rqa-printout-signatory > .content > .hrmpsb {
    float: left;
    width: 70%;
}

.rqa-printout-signatory > .content > .hrmpsb > .content {
    /* display: flex;
    justify-content: space-evenly; */
    display: grid;
    grid-template: auto auto / auto auto auto auto auto auto;
    grid-gap: 3em 1em;
    padding-top: 2em;
}

.rqa-printout-signatory > .content > .hrmpsb > .content > * {
    display: inline-block;
    min-width: 12em;
}

.rqa-printout-signatory > .content > .hrmpsb > .content > * > .content {
    display: block;
    text-align: center;
}

.rqa-printout-signatory > .content > .hrmpsb > .content > * > .content > .name-position {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 5em;
    font-size: 1em;
}

.rqa-printout-signatory > .content > .hrmpsb > .content > * > .content > .name-position::after {
    width: 100%;
    border-top: 1px solid;
    content: "Name and Position";
    display: block;
    font-size: 1em;
}

.rqa-printout-signatory > .content > .appointer {
    margin-right: 10%;
    float: right;
}

.rqa-printout-signatory > .content > .appointer > .content {
    display: block;
    text-align: center;
}

.rqa-printout-signatory > .content > .appointer > .content > .name-position {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 7em;
    font-size: 1em;
}

.rqa-printout-signatory > .content > .appointer > .content > .name-position::after {
    width: 100%;
    border-top: 1px solid;
    content: "Name and Position";
    display: block;
    font-size: 1em;
}
